<div class="box m-b-0 b-b">
    <div class="box-header p-b-0">
        <h3>{{ctrl.type.name}}</h3>
        <small class="block text-muted">Total number of Registrations</small>
    </div>
    <div class="box-body p-a-xs">
        <div ui-jp="chart" ui-options="{{ctrl.chartTotal}}" style="height:300px" >
        </div>
    </div>
</div>

<div class="box m-b-0 b-b">
    <div class="box-header p-b-0">
        <small class="block text-muted">Registrations by period</small>
    </div>
    <div class="box-body p-a-xs">
        <div class="text-center">
            <div class="nav-active-primary inline">
                <ul class="nav nav-pills">
                    <li class="nav-item m-l-xs" ng-repeat="grouping in ctrl.groupings">
                        <a class="nav-link"
                           ng-class="{active: grouping === ctrl.grouping}"
                           ng-click="(ctrl.grouping = grouping) && ctrl.setupByPeriod()">
                            {{grouping}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-repeat="grouping in ctrl.groupings" ng-if="grouping === ctrl.grouping">
            <div ui-jp="chart" ui-options="{{ctrl.chartByPeriod}}" style="height:300px" >
            </div>
        </div>
    </div>
</div>

<div class="box m-b-0 b-b">
    <div class="box-header p-b-0">
        <small class="block text-muted">Users Registrations by Weekday</small>
    </div>
    <div class="box-body p-a-xs">
        <div ui-jp="chart" ui-options="{{ctrl.chartByWeekday}}" style="height:300px" >
        </div>
    </div>
</div>
