<div class="p-a-sm b-b">
    <div class="dropdown inline" ng-if="!ctrl.companyMode">
        <button class="btn lter btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-users"></i>
            Users
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item">
                <i class="fa fa-fw fa-users"></i>
                Users
                <i class="fa fa-check text-primary m-l"></i>
            </a>
            <a class="dropdown-item"><i class="fa fa-fw fa-users"></i> Leads</a>
        </div>
    </div>

    <div class="dropdown inline">
        <button class="btn lter btn-sm dropdown-toggle" data-toggle="dropdown">
            Match all filters
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item">Match any filters</a>
            <a class="dropdown-item">Match all filters <i class="fa fa-check text-primary m-l"></i></a>
        </div>
    </div>

</div>

<div class="row-row white bg">
    <div class="row-body scrollable">
        <div class="row-inner">
            <p class="m-a m-b-sm"><strong>{{ctrl.companyMode ? 'Company Attributes' : 'User Data'}}</strong></p>

            <div class="list-group no-border">
                <div ng-repeat="attribute in ctrl.attributes track by attribute.alias" class="list-group-item">
                    <label class="ui-check m-b-0">
                        <input type="checkbox" ng-model="attribute.selected"
                               ng-change="attribute.predicates.length ? false : ctrl.addPredicate(attribute, {})">
                        <i class="dark-white"></i>

                        <small class="fa fa-fw fa-{{::attribute.icon}}"></small>
                        {{::attribute.name}}
                    </label>

                    <div ng-if="attribute.selected">
                        <div class="block bg dker m-t-sm p-a hover-anchor" ng-repeat="predicate in attribute.predicates track by $index">

                            <a class="pull-right hover-action"
                               style="margin-top: -0.8rem; margin-right: -0.5rem;"
                               ng-click="ctrl.removePredicate(attribute, predicate)">
                                <i class="fa fa-times" uib-tooltip="Remove Filter" tooltip-append-to-body="true"></i>
                            </a>

                            <div ng-include="'components/users-filter/predicates/' + attribute.type + '.html'">
                            </div>

                            <div class="text-center" style="margin-bottom: -1.9rem"
                                 ng-if="attribute.predicates.length > 1 && !$last">
                                <span class="label">And</span>
                            </div>
                        </div>

                        <button class="btn btn-sm btn-block white m-t-sm"
                                ng-if="ctrl.canAddNewPredicate(attribute)"
                                ng-click="ctrl.addPredicate(attribute, {})">
                            {{ctrl.ruleMode ? 'Add a Rule' : 'Add Filter'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-a b-t text-center" ng-if="!ctrl.ruleMode && !ctrl.isPristine()">
    <button class="btn btn-sm primary btn-addon" ng-click="ctrl.createSegment()">
        <i class="fa fa-plus fa-fw m-r-xs"></i> {{ctrl.segment.isEditable ? 'Save' : 'Create'}} Segment...
    </button>
</div>
