<div class="row-row white bg">
    <div class="row-body scrollable">
        <div class="row-inner nav-active-primary p-a-sm">
            <p class="m-a m-b-sm"><strong>Reports</strong></p>

            <hr>

            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item" ng-repeat="type in ctrl.types"
                    ui-sref=".({type: type.alias})"
                    ng-class="{'active': ctrl.type == type}">
                    <a class="nav-link">
                        <small class="fa fa-fw fa-{{::type.icon}}"></small>
                        {{type.name}}
                        <!--<small class="text-muted" ng-if="type.count">({{type.count}})</small>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
