<div class="table-responsive white">
    <table class="table table-striped table-fixed b-t">
        <tbody>
        <tr ng-repeat="record in ctrl.displayedRecords">
            <td class="check-field">
                <st-check row="record"></st-check>
            </td>
            <td>
                <i class="fa fa-fw fa-building"></i>
                <a class="text-u-l m-r-sm" ui-sref="company-profile({id: record.id})">
                    {{::record.name}}</a>
            </td>
            <td am-time-ago="::record.lastSeenAt"></td>
            <td am-time-ago="::record.createdAt"></td>
            <td>{{::record.customerCount | number}}</td>
        </tr>
        </tbody>
    </table>

    <div st-infinite-scroll=".row-body">
    </div>
</div>
