<div class="app-sub-header bg dark b-b p-a-sm" ng-include="'${require(`./topbar.html`)}'">
</div>
<div class="app-body-inner" st-table="ctrl.displayedRecords" st-safe-src="ctrl.records" st-refer="ctrl.table">
    <div class="row-col row-col-xs">
        <!-- column -->
        <div class="col-sm w-xl w-auto-xs b-r hidden-sm-down">
            <div class="row-col" ng-include="'${require(`./sidebar.html`)}'">
            </div>
        </div>

        <div class="col-sm">
            <div class="row-col">
                <div class="p-a b-b">
                    <div class="btn-sm inline h4 m-b-0 v-m" ng-if="!ctrl.table.checkedRows.length">
                        <i class="fa fa-fw fa-{{ctrl.folder.icon}}"></i>
                        {{ctrl.folder.name}}
                        <small class="text-muted" ng-if="ctrl.folder.count">({{ctrl.folder.count}})</small>
                    </div>

                    <div class="inline l-h-2x v-m" ng-if="ctrl.table.checkedRows.length">
                        <strong>{{ctrl.table.checkedRows.length}}</strong>
                        selected
                        <a class="fa fa-times-circle" uib-tooltip="Clear selection" tooltip-append-to-body="true"
                           ng-click="ctrl.table.checkedRows = []"></a>

                        <div class="dropdown inline m-l-xs">
                            <button class="btn dark btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-folder-o"></i> Move to...
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item"><i class="fa fa-fw fa-bolt"></i> Active</a>
                                <a class="dropdown-item"><i class="fa fa-fw fa-pencil"></i> Draft</a>
                            </div>
                        </div>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-sm primary" ui-sref="new-auto-message"><i class="fa fa-fw fa-bolt"></i>
                            New <span class="hidden-xs-down">Auto Message</span>
                        </button>
                    </div>
                </div>

                <div class="row-row">
                    <div class="row-body">
                        <div class="table-responsive white">
                            <table class="table table-striped table-nowrap">
                                <thead>
                                <tr>
                                    <th class="check-field"></th>
                                    <th>Title</th>
                                    <th>From</th>
                                    <th class="text-center">Sent</th>
                                    <th class="text-center">Opened</th>
                                    <th class="text-center">Clicked</th>
                                    <th class="text-center">Goal</th>
                                    <th class="text-center">Replied</th>
                                    <th class="text-center">Unsubs</th>
                                    <th>Last sent</th>
                                    <th>Type</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="record in ctrl.displayedRecords">
                                    <td class="check-field">
                                        <st-check row="record"></st-check>
                                    </td>
                                    <td>
                                        <div class="h6 _300">
                                            <a>{{::record.title}}</a>
                                            <span class="label blue-grey m-l-sm" ng-if="record.state == 'draft'">
                                                Draft
                                            </span>
                                            <span class="label amber m-l-sm" ng-if="record.state == 'paused'">
                                                Paused
                                            </span>
                                            <span class="label green m-l-sm" ng-if="record.state == 'sending'">
                                                Sending
                                            </span>
                                        </div>

                                        <small class="text-muted block" ng-if="($index + 1) % 3 == 0">
                                            <i class="fa fa-user"></i>
                                            Type is User
                                        </small>

                                        <small class="text-muted block" ng-if="($index + 1) % 2 == 0">
                                            <i class="fa fa-calendar-check-o"></i>
                                            Last seen more than 30 days ago
                                        </small>

                                        <small class="text-muted block">
                                            <i class="fa fa-line-chart"></i>
                                            Web sessions is {{record.clicks % 10}}
                                        </small>
                                    </td>
                                    <td class="v-m">
                                        <div class="avatar m-r-sm">
                                            <img ng-src="{{::record.from.avatar}}">
                                        </div>

                                        <a>{{::record.from.name}}</a>
                                    </td>
                                    <td class="text-dark v-m">
                                        <i class="fa fa-fw fa-user"></i>
                                        {{record.sends | dash}}
                                    </td>
                                    <td class="text-success v-m">
                                        <i class="fa fa-fw fa-eye"></i>
                                        {{::record.opens | dash}}
                                    </td>
                                    <td class="text-warning v-m">
                                        <i class="fa fa-fw fa-mouse-pointer"></i>
                                        {{::record.clicks | dash}}
                                    </td>
                                    <td class="text-info v-m">
                                        <i class="fa fa-fw fa-bullseye"></i>
                                        ―
                                    </td>
                                    <td class="text-primary v-m">
                                        <i class="fa fa-fw fa-comment-o"></i>
                                        ―
                                    </td>
                                    <td class="text-danger v-m">
                                        <i class="fa fa-fw fa-ban"></i>
                                        ―
                                    </td>
                                    <td class="v-m">
                                        <i class="fa fa-fw fa-calendar"></i>
                                        <span ng-if="record.lastSentAt" am-time-ago="::record.createdAt"></span>
                                        <span ng-if="!record.lastSentAt">
                                            ―
                                        </span>
                                    </td>
                                    <td class="v-m">
                                        <span ng-if="record.type == 'small_announcement'">
                                            <i class="fa fa-fw fa-comment"></i> Small Announcement
                                        </span>
                                        <span ng-if="record.type == 'email'">
                                            <i class="fa fa-fw fa-envelope"></i>
                                            Email
                                        </span>
                                    </td>
                                    <td class="v-m">
                                        <i class="fa fa-fw fa-calendar"></i>
                                        <span am-time-ago="::record.createdAt"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div st-infinite-scroll=".row-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
