<ul class="nav nav-pills no-borders">
    <li class="nav-item hidden-md-up">
        <div class="dropdown inline">
            <a class="nav-link" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" ng-repeat="audience in ctrl.audiences" ng-click="ctrl.audience = audience">
                    <i class="fa fa-fw fa-bolt"></i>
                    Messages to {{audience}}

                    <i class="fa fa-check text-primary m-l" ng-if="ctrl.audience == audience"></i>
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" ng-repeat="folder in ctrl.folders" ng-click="ctrl.folder = folder">
                    <i class="fa fa-fw fa-{{::folder.icon}}"></i>
                    {{folder.name}}
                    <small class="text-muted" ng-if="folder.count">({{folder.count}})</small>

                    <i class="fa fa-check text-primary m-l" ng-if="ctrl.folder == folder"></i>
                </a>

                <a class="dropdown-item no-bg m-t-sm text-center">
                    <button class="btn btn-sm primary btn-addon" ng-click="ctrl.createFolder()">
                        <i class="fa fa-plus fa-fw m-r-xs"></i> New Folder
                    </button>
                </a>
            </div>
        </div>
    </li>

    <li class="nav-item hidden-sm-down" ng-repeat="audience in ctrl.audiences" ng-click="ctrl.audience = audience">
        <a class="nav-link" ng-class="{'box-shadow': ctrl.audience == audience}">
            <i class="fa fa-fw fa-bolt"></i>
            Messages to {{audience}}
        </a>
    </li>

    <li class="nav-item pull-right" style="width: 230px;">
        <div class="form-group l-h m-a-0 inline">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control p-x b-a rounded" placeholder="Search titles and senders">

                <span class="input-group-btn">
                    <button type="submit" class="btn white b-a rounded no-b-l no-shadow"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </li>
</ul>
