<h5 class="_300 m-b m-t-md">Activity</h5>

<div class="box">
    <div class="box-body">
        <div class="p-a">
            <div class="streamline b-l m-b">
                <div ng-repeat="event in ctrl.customer.events" class="sl-item b-{{::event.type.color}}">
                    <div class="sl-icon">
                        <i class="fa fa-{{::event.type.icon}}"></i>
                    </div>

                    <div class="sl-content">
                        <div class="sl-date text-muted" am-time-ago="event.createdAt"></div>
                        <p>
                            {{::event.type.name}}
                            <span class="m-l-sm text-sm p-x-sm p-y-xs label dark rounded">
                                <i class="fa fa-{{::event.type.icon}} m-r-xs"></i>
                                <span ng-class="{'text-l-t': event.type.name == 'Untagged'}">{{::event.name}}</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

