<div class="app-sub-header bg dark b-b p-a-sm" ng-include="'${require(`../customers/subheader.html`)}'"></div>
<div class="app-body-inner">
    <div class="row-col">
        <div class="row-row">
            <div class="row-body">
                <div ng-include="'${require(`./top.html`)}'"></div>

                <div class="p-x-md">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div ng-include="'${require(`./about.html`)}'"></div>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <div ng-include="'${require(`./conversations.html`)}'"></div>
                        </div>

                        <div class="col-md-12 col-lg-3">
                            <div ng-include="'${require(`./activity.html`)}'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
