<div class="app-body-inner padding w-full" style="padding-bottom: 100px;">
    <h4 class="_300">New Auto Message</h4>

    <uib-accordion template-url="${require(`./accordion.html`)}">
        <uib-accordion-group ng-repeat="step in ctrl.steps"
                             is-open="step.isOpen"
                             ng-click="step.onExpand ? step.onExpand() : null"
                             template-url="${require(`./accordion-group.html`)}">

            <uib-accordion-heading>
                <span ng-include="'${require(`./accordion-marker.html`)}'"></span>
                <span class="label-lg _300">
                    {{step.isCompleted() && !step.isOpen ? step.title : step.description}}

                    <span ng-if="step.isOptional && (!step.isCompleted() || step.isOpen)"
                          class="label rounded bg-transparent b-a _300"
                          ng-class="{'b-primary text-primary': !step.isOpen, 'b-white text-white': step.isOpen}">
                    optional
                    </span>
                </span>

                <span ng-if="step.isCompleted() && !step.isOpen"
                      ng-include="'components/auto-message-form/steps/step-' + ($index + 1) + '-info.html'"></span>
            </uib-accordion-heading>

            <div ng-include="'components/auto-message-form/steps/step-' + ($index + 1) + '.html'"></div>
        </uib-accordion-group>
    </uib-accordion>
</div>
