<div>
    <strong>Chat</strong>
    <p>Opens initially as a small notification, and has simpler formatting options. Ideal for more personal and informal messages</p>
    <strong>Small Announcement</strong>
    <p>Auto-opens into a popup in the top-right of your app. Great for when you want to be less disruptive.</p>
    <strong>Big Announcement</strong>
    <p>Auto-opens into a full-screen view. Perfect when you want your users' full attention to make a big impact.</p>
</div>
