<div class="inline text-muted" ng-repeat="attribute in step.selectedAttributes" ng-if="attribute.selected">
    <span class="m-r-sm" ng-repeat="predicate in attribute.predicates">
        <i class="fa fa-fw fa-{{attribute.icon}}"></i> {{attribute.name}}
        {{predicate.comparison.name}} {{predicate.comparison.showInput ? predicate.value : ''}}
    </span>
</div>
