<div class="row-col row-col-xs">
    <!-- column -->
    <div class="col-sm w-xl w-auto-xs b-r">
        <users-filter class="row-col" rule-mode="true" expose-attributes="step.selectedAttributes"></users-filter>
    </div>

    <div class="col-sm">
        <div class="row-col p-a-sm">
            <div class="p-a-sm">
                <h5 class="inline _300">{{ctrl.customers.length}} users</h5>
                (and users who match these rules in the future)

                <i class="fa fa-info-circle" data-container="body"
                   uib-tooltip="The message will only be sent once per user."
                   tooltip-placement="top"
                   tooltip-class="tooltip-top">
                </i>
            </div>

            <div class="p-a-sm table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Signed up</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="record in ctrl.customers | limitTo: 10">
                        <td>
                            <img class="w-24 circle m-r-xs" ng-src="{{::record.avatar}}">

                            <a class="text-u-l m-r-sm" ui-sref="customer-profile({id: record.id})">{{::record.name}}</a>
                            <span ng-if="record.company" class="text-muted prevent-breaks">
                                <a ui-sref="company-profile({id: record.company.id})">
                                    <i class="fa fa-building"></i>
                                    {{::record.company.name}}
                                </a>
                            </span>
                        </td>
                        <td title="{{::record.email}}">{{::record.email}}</td>
                        <td am-time-ago="::record.createdAt"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-muted">
                    And {{ctrl.customers.length - 10}} users like this
                </div>
            </div>
        </div>
    </div>
</div>
