<div class="inline text-muted">
    <span class="m-r-sm">
        <i class="fa fa-fw fa-{{ctrl.selectedChannel.icon}}"></i> {{ctrl.selectedChannel.title}}
    </span>


    <div class="inline" ng-if="ctrl.selectedChannel.alias === 'email' && ctrl.selectedChannel.includeUnsubscribe">
        <i class="fa fa-fw fa-ban"></i> Include unsubscribe link
    </div>

    <div class="inline" ng-if="ctrl.selectedChannel.alias === 'inapp' && ctrl.selectedChannel.targetPage">
        <i class="fa fa-fw fa-bullseye"></i> Show this message on the page with the URL: /orders
    </div>
</div>
