<div class="text-center p-t-lg">
    <h3 class="text-black-lt">Nice, you're almost done!</h3>
    <p class="text-muted">Make sure to double check your message above</p>
</div>

<div class="text-center p-a-md">
    <div class="inline">
        <div class="box inline no-shadow v-t" style="width: 330px;">
            <div class="box-body">
                <i class="fa fa-pencil text-3x block m-b-sm text-primary"></i>

                <div class="text-center">
                    <strong class="block m-b-sm">Still needs work?</strong>
                    <div class="text-muted">You can save it as a draft<br> and come back later to set it live</div>
                    <button class="btn btn-block m-t-sm white">Save and close</button>
                </div>
            </div>
        </div>

        <div class="box inline no-shadow v-t" style="width: 330px;">
            <div class="box-body">
                <i class="fa fa-check-circle-o text-3x block m-b-sm text-primary"></i>

                <div class="text-center">
                    <strong class="block m-b-sm">It's good to go!</strong>
                    <div class="text-muted">Remember, you can always turn<br> it off again if you need to</div>
                    <button class="btn btn-block m-t-sm primary">Set it live now</button>
                    <small>or <a class="text-u-l">schedule a time...</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
