<div class="form-group m-b-md">
    <label class="m-b-xs">From</label>

    <div class="dropdown">
        <button class="btn btn-sm btn-block white form-control dropdown-toggle text-left" data-toggle="dropdown">
            <img class="w-24 circle m-r-xs" ng-src="{{ctrl.sender.avatar}}">
            {{ctrl.sender.name}}
        </button>

        <div class="dropdown-menu w-full">
            <a class="dropdown-item p-y-xs" ng-repeat="user in ::ctrl.users" ng-click="ctrl.sender = user">
                <img class="w-24 circle m-r-xs" ng-src="{{::user.avatar}}">
                {{::user.name}}
                <i class="fa fa-check text-primary m-l" ng-if="ctrl.sender == user"></i>
            </a>
        </div>
    </div>

    <small class="text-muted" ng-if="!step.showReceiver">
        Replies assigned to {{ctrl.receiver.name}}
        (<a class="text-u-l" ng-click="step.showReceiver = true">change</a>)
    </small>
</div>

<div class="form-group m-b-md" ng-if="step.showReceiver">
    <label class="m-b-xs">Assign replies to</label>

    <div class="dropdown">
        <button class="btn btn-sm btn-block white form-control dropdown-toggle text-left" data-toggle="dropdown">
            <img class="w-24 circle m-r-xs" ng-src="{{ctrl.receiver.avatar}}">
            {{ctrl.receiver.name}}
        </button>

        <div class="dropdown-menu w-full">
            <a class="dropdown-item p-y-xs" ng-repeat="user in ::ctrl.users" ng-click="ctrl.receiver = user">
                <img class="w-24 circle m-r-xs" ng-src="{{::user.avatar}}">
                {{::user.name}}
                <i class="fa fa-check text-primary m-l" ng-if="ctrl.receiver == user"></i>
            </a>
        </div>
    </div>
</div>


<div ng-if="ctrl.selectedChannel.alias == 'inapp'">
    <div class="form-group m-b-md">
        <label class="m-b-xs">
            In-app type
            <i class="fa fa-info-circle"
               uib-tooltip-template="'${require(`./inapp-type-tooltip.html`)}'"
               tooltip-placement="right"
               tooltip-class="tooltip-right tooltip-lg">
            </i>
        </label>

        <div class="btn-group-vertical block">
            <button class="btn btn-sm white text-left form-control no-radius"
                    ng-repeat="type in ctrl.inappTypes"
                    ng-class="{'primary active': ctrl.selectedChannel.type === type}"
                    ng-click="ctrl.selectedChannel.type = type">

                <i class="fa fa-fw fa-{{::type.icon}}"></i>
                {{::type.name}}
            </button>
        </div>
    </div>

    <div class="form-group m-b-md">
        <label class="m-b-xs">
            Reply type
            <i class="fa fa-info-circle"
               uib-tooltip="Thumbs and emotions prevent your users from responding with text. They provide you with immediate feedback that easily scales for messages going out to large numbers of users."
               tooltip-placement="right"
               tooltip-class="tooltip-right tooltip-lg">
            </i>
        </label>

        <div class="btn-group-vertical block">
            <button class="btn btn-sm white text-left form-control no-radius"
                    ng-repeat="type in ctrl.replyTypes"
                    ng-class="{'primary active': ctrl.selectedChannel.replyType === type}"
                    ng-click="ctrl.selectedChannel.replyType = type">

                <i class="fa fa-fw fa-{{::type.icon}}"></i>
                {{::type.name}}
            </button>
        </div>
    </div>
</div>

<div ng-if="ctrl.selectedChannel.alias == 'email'">
    <div class="form-group m-b-md">
        <label class="m-b-xs">Email template</label>

        <div class="dropdown">
            <button class="btn btn-sm btn-block white form-control dropdown-toggle text-left" data-toggle="dropdown">
                {{ctrl.template.name}}
            </button>

            <div class="dropdown-menu" style="width: 350px;">
                <div class="clearfix p-a-xs">
                    <div class="pull-left" style="width: 50%"
                         ng-repeat="template in ::ctrl.templates"
                         ng-click="ctrl.template = template">
                        <div class="card m-a-xs pointer">
                            <img class="card-img-top w-full" ng-src="{{::template.preview}}">
                            <footer class="p-a-xs white" ng-class="{'primary': ctrl.template == template}">
                                {{::template.name}}
                            </footer>
                        </div>
                    </div>
                </div>

                <hr class="m-y-xs">

                <button class="btn btn-sm white m-a-sm btn-addon">
                    <i class="fa fa-plus fa-fw m-r-xs"></i> Add a custom template
                </button>
            </div>
        </div>
    </div>

    <div class="form-group m-b-md">
        <label class="m-b-xs">Test message</label>
        <button class="btn btn-sm btn-block white form-control">
            Send a test email...
        </button>
    </div>
</div>

<hr>

<div class="form-group m-b-md clearfix">
    <label class="m-b-xs">
        Preview device
    </label>

    <div class="btn-group block">
        <button class="btn btn-sm white form-control no-radius" style="width: 50%"
                ng-repeat="type in ctrl.previewTypes"
                ng-class="{'primary active': ctrl.previewType === type}"
                ng-click="ctrl.previewType = type">

            <i class="fa fa-fw fa-{{::type.icon}}"></i>
            {{::type.name}}
        </button>
    </div>
</div>

<div ng-if="ctrl.selectedChannel.alias == 'inapp'">
    <div class="form-group m-b-md clearfix">
        <label class="m-b-xs">
            Preview state
        </label>

        <div class="btn-group block">
            <button class="btn btn-sm white form-control no-radius" style="width: 50%"
                    ng-repeat="state in ctrl.previewStates"
                    ng-class="{'primary active': ctrl.previewState === state}"
                    ng-click="ctrl.previewState = state">

                <i class="fa fa-fw fa-{{::state.icon}}"></i>
                {{::state.name}}
            </button>
        </div>
    </div>

    <div class="form-group m-b-md clearfix">
        <label class="m-b-xs">
            Preview data as
        </label>

        <div class="btn-group block">
            <button class="btn btn-sm white form-control no-radius" style="width: 50%"
                    ng-repeat="type in ctrl.previewDataTypes"
                    ng-class="{'primary active': ctrl.previewDataType === type}"
                    ng-click="ctrl.previewDataType = type">

                <i class="fa fa-fw fa-{{::type.icon}}"></i>
                {{::type.name}}
            </button>
        </div>
    </div>
</div>
