<div class="text-center p-a-md">
    <div style="max-width: 600px; margin: 0 auto;">
        <div class="list text-left">
            <div class="list-item b-b">
                <div class="list-left"><i class="fa fa-bullseye text-3x text-primary"></i></div>
                <div class="list-right">
                    <label class="ui-switch primary">
                        <input type="checkbox" ng-model="ctrl.goalEnabled">
                        <i></i>
                    </label>
                </div>
                <div class="list-body">
                    <strong class="m-b-sm">Goal</strong>

                    <div class="text-muted clear">Set a measurable goal for this message</div>
                </div>
            </div>
            <div class="list-item">
                <div class="list-left">&nbsp;</div>
                <div class="list-body">
                    <strong class="block text-muted m-b-xs">This message will be successful if</strong>

                    <div class="dropdown dropup" disable-all="!ctrl.goalEnabled">
                        <button class="btn white btn-sm dropdown-toggle">
                            Select an attribute or event...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
