<div class="text-center p-a-md">
    <div class="inline">
        <div class="box inline no-user-select pointer b-a" style="width: 330px;"
             ng-repeat="channel in ::ctrl.channels"
             ng-class="{'b-primary': ctrl.selectedChannel === channel, 'b-transparent text-muted': ctrl.selectedChannel !== channel}"
             ng-click="ctrl.selectedChannel = channel">

            <div class="box-body pos-rlt">
                <i class="fa fa-check text-primary pull-right block pos-abt" style="top: 5px; right: 7px;"
                   ng-if="ctrl.selectedChannel === channel"></i>

                <i class="fa fa-{{::channel.icon}} text-4x block m-b-sm"></i>

                <div class="text-center">
                    <strong class="block m-b-sm">{{::channel.name}}</strong>
                    <div ng-repeat="advantage in ::channel.advantages">{{::advantage}}</div>
                </div>
            </div>
        </div>

        <div class="text-left m-t-md">

            <div ng-if="ctrl.selectedChannel.alias == 'email'">
                <strong class="block text-muted m-b-xs">Unsubscribe option</strong>
                <label class="ui-check">
                    <input type="checkbox" ng-model="ctrl.selectedChannel.includeUnsubscribe">
                    <i></i> Include an option to unsubscribe in the email
                </label>
            </div>

            <div ng-if="ctrl.selectedChannel.alias == 'inapp'">
                <strong class="block text-muted m-b-xs">Target a page</strong>
                <label class="ui-check">
                    <input type="checkbox" ng-model="ctrl.selectedChannel.targetPage">
                    <i></i> Only show in-app for a particular page
                </label>

                <div class="row" disable-all="!ctrl.selectedChannel.targetPage">
                    <div class="col-xs-6">
                        <div class="dropdown dropup">
                            <button class="btn white btn-sm btn-block dropdown-toggle" data-toggle="dropdown">
                                Where a page URL is
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item">Where a page URL is <i class="fa fa-check text-primary m-l"></i></a>
                                <a class="dropdown-item">Where a page URL contains</a>
                                <a class="dropdown-item">Where a page URL matches regex</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control form-control-sm" placeholder="Enter a URL to match">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
