<div class="app-sub-header bg dark b-b p-a-sm" ng-include="'${require(`../companies/subheader.html`)}'"></div>
<div class="app-body-inner">
    <div class="row-col">
        <div class="p-t-md" style="max-width: 1100px; margin: 0 auto">
            <div class="row-col">

                <!-- column -->
                <div class="col-md w-xl w-auto-sm">
                    <div ng-include="'${require(`./info.html`)}'"></div>
                </div>

                <div class="col-md">
                    <div class="row-col p-l-md p-t">

                        <div class="text-center">
                            <div class="nav-active-primary inline">
                                <ul class="nav nav-pills">
                                    <li class="nav-item m-l-xs">
                                        <a class="nav-link active" data-target="#users-tab" data-toggle="tab">
                                            Users
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-target="#conversations-tab" data-toggle="tab">
                                            Conversations
                                        </a>
                                    </li>

                                    <li class="nav-item" data-target="#notes-tab" data-toggle="tab">
                                        <a class="nav-link">
                                            Notes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>


                        <div class="tab-content m-t">
                            <div class="tab-pane active" id="users-tab" ng-include="'${require(`./users.html`)}'">
                            </div>


                            <div class="tab-pane p-x-sm" id="conversations-tab" ng-include="'${require(`./conversations.html`)}'">
                            </div>

                            <div class="tab-pane p-x-sm" id="notes-tab" ng-include="'${require(`./notes.html`)}'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
