<div class="item" style="height: 180px;">
    <div class="item-bg item-bg-map" ng-style="{'background-image': ctrl.company.customers[0].mapUrl}">
    </div>

    <div class="p-a-lg pos-rlt text-center">
        <img ng-src="{{ctrl.company.customers[0].avatar}}" class="img-circle w-96 box-shadow-z2" style="margin-bottom: -12rem">

        <!--<span class="w-56 circle blue" style="margin-bottom: -12rem">-->
            <!--<i class="fa fa-building-o" ></i>-->
        <!--</span>-->
    </div>
</div>
<div class="box m-b-0">
    <div class="box-body">

        <h4 class="text-center m-y-md _300">
            {{ctrl.company.name}}
        </h4>

        <button class="btn btn-block btn-sm primary" uib-tooltip-html="'Message every user in ' + ctrl.company.name" tooltip-class="tooltip-top">
            <i class="fa fa-fw fa-comment-o"></i>
            Message company
        </button>

        <hr>

        <p class="m-b-sm m-t-md _300">Segments</p>
            <span class="m-r-sm m-b-xs text-sm p-x-sm p-y-xs label dark rounded"
                  ng-repeat="segment in ctrl.company.segments">
                <i class="fa fa-pie-chart m-r-xs"></i> {{segment}}
            </span>


        <p class="m-b-sm m-t-md _300">Tags</p>
            <span class="m-r-sm m-b-xs text-sm p-x-sm p-y-xs label dark rounded pointer">
                <i class="fa fa-plus m-r-xs"></i> Add tag...
            </span>

            <span class="m-r-sm m-b-xs text-sm p-x-sm p-y-xs label dark rounded"
                  ng-repeat="tag in ctrl.company.tags">
                <i class="fa fa-tag m-r-xs"></i> {{tag}}
            </span>


        <p class="m-b-sm m-t-md _300">Account Info</p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-briefcase"></i> Monthly Spend</span>
            $0.00
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-hashtag"></i> Company Id</span>
            {{ctrl.company.id}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Last Seen</span>
            <span am-time-ago="ctrl.company.lastSeenAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Created At</span>
            <span am-time-ago="ctrl.company.createdAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-users"></i> Users</span>
            {{ctrl.company.customerCount}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-line-chart"></i> Web Sessions</span>
            {{ctrl.company.sessionCount}}
        </p>

        <hr>

        <button class="btn btn-block btn-sm danger">
            Delete company
        </button>

    </div>
</div>

