<div class="box m-b-lg">
    <div class="box-body">
        <a href="" class="pull-left w-40 m-r-sm">
            <img ng-src="{{ctrl.currentUser.avatar}}" class="w-full img-circle">
        </a>

        <form ng-submit="ctrl.addNote(ctrl.noteText)" class="clear p-b-sm">
            <input ng-model="ctrl.noteText" name="note-text"
                   class="form-control form-control-sm deep-orange-50 r p-a p-y-sm no-border m-t-xs"
                   placeholder="Type a note and hit Enter">
        </form>
    </div>
</div>

<div class="box" ng-repeat="note in ctrl.company.notes">
    <div class="box-body p-b-md">
        <div class="m-b-sm clearfix">
            {{note.user.name}}
            <span class="text-muted">
                added a note to
            </span>
            {{ctrl.company.name}}

            <div class="text-muted text-xs m-t-xs pull-right">
                <span am-time-ago="note.createdAt"></span>
            </div>
        </div>

        <a href="" class="pull-left w-32 m-r-sm">
            <img ng-src="{{note.user.avatar}}" class="w-full img-circle">
        </a>

        <div class="clear">
            <div class="p-a p-y-sm deep-orange-50 inline r">
                {{note.text}}
            </div>
        </div>
    </div>
</div>
