<div st-table="ctrl.company.customers" st-refer="ctrl.table">
    <table class="table table-unbordered table-condensed">
        <tr>
            <td class="v-m text-center">
                <label class="ui-check m-a-0">
                    <input type="checkbox"><i class="dark-white"></i>
                </label>
            </td>
            <td class="p-y" ng-include="'${require(`./users-toolbar.html`)}'">
            </td>
        </tr>

        <tr ng-repeat="customer in ctrl.company.customers">
            <td class="text-center">
                <st-check row="customer"></st-check>
            </td>
            <td>
                <div class="box">
                    <div class="box-body">
                        <a class="pull-left m-r-sm w-64">
                            <img ng-src="{{customer.avatar}}" class="img-circle w-48">
                        </a>

                        <div class="clear p-y-xs text-left">
                            <a class="block" ui-sref="customer-profile({id: customer.id})">
                                {{customer.name}}
                            </a>

                            <a class="block text-muted" ui-sref="customer-profile({id: customer.id})">
                                {{customer.email}}
                            </a>
                        </div>

                        <div class="box-divider m-y m-x-0"></div>

                        <div class="inline m-r-md text-left m-b">
                            <span class="text-muted block m-b-xs">Signed Up</span>
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                            <span am-time-ago="customer.createdAt"></span>
                        </div>

                        <div class="inline m-r-md text-left m-b">
                            <span class="text-muted block m-b-xs">Web Sessions</span>
                            <i class="fa fa-fw fa-line-chart"></i>
                            {{customer.sessionCount}}
                        </div>

                        <div class="inline m-r-md text-left m-b">
                            <span class="text-muted block m-b-xs">Last Seen</span>
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                            <span am-time-ago="customer.lastSeenAt"></span>
                        </div>

                        <div class="inline m-r-md text-left m-b">
                            <span class="text-muted block m-b-xs">Last Contacted</span>
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                            <span am-time-ago="customer.lastContactedAt"></span>
                        </div>

                        <div class="inline m-r-md text-left m-b">
                            <span class="text-muted block m-b-xs">Last Heard From</span>
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                            <span am-time-ago="customer.lastContactedAt"></span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
