<div class="col-xs-5 col-sm-7 col-md-9 col-lg-9">
    <users-segments></users-segments>
</div>
<div class="col-xs-7 col-sm-5 col-md-3 col-lg-3">
    <div class="form-group l-h m-a-0 inline">
        <div class="input-group input-group-sm">
            <span class="input-group-addon no-border pointer" uib-tooltip="0 segments hidden">
                <strong>0</strong> <i class="fa fa-eye-slash"></i>
            </span>

            <input type="text" class="form-control p-x b-a rounded" placeholder="Search...">

            <span class="input-group-btn">
                <button type="submit" class="btn white b-a rounded no-b-l no-shadow"><i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
