<div class="table-responsive white">
    <table class="table table-striped table-fixed b-t">
        <tbody>
        <tr ng-repeat="record in ctrl.displayedRecords">
            <td class="check-field">
                <st-check row="record"></st-check>
            </td>
            <td st-cell="0">
                <a class="text-u-l m-r-sm" ui-sref="customer-profile({id: record.id})">
                    {{::record.name}}</a>

                <span ng-if="record.company" class="text-muted prevent-breaks">
                    <a ui-sref="company-profile({id: record.company.id})">
                        <i class="fa fa-building"></i>
                        {{::record.company.name}}
                    </a>
                </span>
            </td>
            <td st-cell="1" title="{{::record.email}}">{{::record.email}}</td>
            <td st-cell="2" am-time-ago="::record.createdAt"></td>
        </tr>
        </tbody>
    </table>

    <div st-infinite-scroll=".row-body">
    </div>
</div>
