<span class="p-r">Displaying {{ctrl.displayedRecords.length}} of {{ctrl.records.length}} users</span>

<span class="p-r" ng-if="ctrl.table.checkedRows.length">
    <strong>{{ctrl.table.checkedRows.length}}</strong>
    <ng-pluralize count="ctrl.table.checkedRows.length"
                  when="{'one':'user', 'other':'users'}">
    </ng-pluralize>
    selected
    <a class="fa fa-times-circle" uib-tooltip="Clear selection" tooltip-append-to-body="true"
       ng-click="ctrl.table.checkedRows = []"></a>
</span>

<div class="m-t-sm hidden-lg-up"></div>

<div class="dropdown inline" ng-if="!ctrl.table.checkedRows.length">
    <button class="btn dark btn-sm dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-pencil-square-o"></i>
        Message
    </button>

    <div class="dropdown-menu">
        <div class="list-group" style="min-width: 300px;">
            <a class="list-group-item no-border">
                <span class="pull-left m-r"><i class="fa fa-fw fa-comment"></i></span>

                <div class="clear">
                    Manual Message<br>
                    <small class="text-muted">To users who match the filters now</small>
                </div>
            </a>

            <a class="list-group-item no-border">
                <span class="pull-left m-r"><i class="fa fa-fw fa-bolt"></i></span>

                <div class="clear">
                    Auto message<br>
                    <small class="text-muted">To users who match the filters now and in the future</small>
                </div>
            </a>
        </div>
    </div>
</div>

<button class="btn dark btn-sm" ng-if="ctrl.table.checkedRows.length"
        uib-tooltip="Message selected users" tooltip-append-to-body="true" tooltip-class="tooltip-top">
    <i class="fa fa-comment"></i>
    Message
</button>

<button class="btn dark btn-sm" tooltip-append-to-body="true" tooltip-class="tooltip-top"
        uib-tooltip-html="ctrl.table.checkedRows.length ? 'Tag selected users' : 'Tag all users who match the filters now'">
    <i class="fa fa-tag"></i>
    Tag
</button>

<div class="dropdown inline">
    <button class="btn dark btn-sm dropdown-toggle" data-toggle="dropdown">
        More
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item"><i class="fa fa-fw fa-cloud-download"></i> Export</a>
        <a class="dropdown-item"><i class="fa fa-fw fa-cloud-upload"></i> Import</a>
        <a class="dropdown-item"><i class="fa fa-fw fa-times"></i> Delete</a>
    </div>
</div>

<st-column-select class="pull-right"></st-column-select>
