<div class="navbar">
    <a data-toggle="collapse" data-target="#navbar-main" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
        <i class="fa fa-fw fa-bars"></i>
    </a>

    <a class="navbar-brand" ui-sref="customers" ui-sref-opts="{inherit: false, reload: true}">App Name</a>

    <ul class="nav navbar-nav pull-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                <span><i class="fa fa-fw fa-cube"></i></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href>First App</a>
                <a class="dropdown-item" href>Second App</a>

                <div class="dropdown-item no-bg">
                    <button class="btn btn-outline btn-sm b-success text-success m-t-sm">
                        <i class="fa fa-fw fa-plus"></i>
                        Add a new app
                    </button>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-cog"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <div class="list-group" style="min-width: 300px;">
                    <a class="list-group-item no-border">
                        <span class="pull-left m-r"><i class="fa fa-fw fa-user"></i></span>

                        <span class="clear block">
                            Settings for John Smith<br>
                            <small class="text-muted">Notifications, visibility preferences…</small>
                        </span>
                    </a>

                    <a class="list-group-item no-border">
                        <span class="pull-left m-r"><i class="fa fa-fw fa-briefcase"></i></span>

                        <span class="clear block">
                            Settings for Company<br>
                            <small class="text-muted">Team, Messenger, tags, segments…</small>
                        </span>
                    </a>

                    <a class="list-group-item no-border">
                        <span class="pull-left m-r"><i class="fa fa-fw fa-sign-out"></i></span>

                        <span class="clear block">
                            Log out
                        </span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div class="collapse navbar-toggleable-sm" id="navbar-main">
        <ul class="nav navbar-nav pull-left nav-active-border b-primary">
            <li class="nav-item">
                <a class="nav-link" ui-sref="mentions" ui-sref-opts="{inherit: false, reload: true}"
                   ng-class="{active: ctrl.isAnyStateActive(['activity', 'mentions'])}">
                    <span class="nav-text">
                        <i class="fa fa-fw fa-bell-o"></i>
                        <span class="label up p-a-0 accent"></span>
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref="customers" ui-sref-opts="{inherit: false, reload: true}"
                   ng-class="{active: ctrl.isAnyStateActive(['customers', 'customer-profile'])}">
                    <span class="nav-text">
                        <i class="fa fa-fw fa-users"></i>
                        People
                    </span>
                    <small class="text-muted">({{ctrl.customers.length}})</small>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref="companies" ui-sref-opts="{inherit: false, reload: true}"
                   ng-class="{active: ctrl.isAnyStateActive(['companies', 'company-profile'])}">
                    <span class="nav-text">
                        <i class="fa fa-fw fa-building-o"></i>
                        Companies
                    </span>
                    <small class="text-muted">({{ctrl.companies.length}})</small>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref="conversations" ui-sref-active="active">
                    <span class="nav-text">
                        <i class="fa fa-fw fa-comments-o"></i>
                        Conversations
                    </span>
                    <small class="text-muted">(0/0)</small>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link p-x-sm" ui-sref="automations"
                   ng-class="{active: ctrl.isAnyStateActive(['automations', 'new-auto-message'])}">
                    <span class="nav-text">
                        <i class="fa fa-fw fa-magic"></i>
                        Auto
                    </span>
                    <small class="text-muted"></small>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link p-x-sm" ui-sref="reports" ui-sref-opts="{inherit: false, reload: true}"
                   ng-class="{active: ctrl.isAnyStateActive(['reports'])}">
                    <span class="nav-text">
                        <i class="fa fa-fw fa-bar-chart"></i>
                        Reports
                    </span>
                    <small class="text-muted"></small>
                </a>
            </li>
        </ul>
    </div>
</div>
