<table class="uib-daypicker">
    <thead>
    <tr>
        <th class="text-center">
            <i class="fa fa-fw fa-chevron-left pointer" ng-click="move(-1)"></i>
        </th>
        <th colspan="{{::5 + showWeeks}}" class="text-center">
            <button type="button"
                    class="btn btn-sm white _300 uib-title" ng-click="toggleMode()"
                    ng-disabled="datepickerMode === maxMode" tabindex="-1"><strong>{{title}}</strong></button>
        </th>
        <th class="text-center">
            <i class="fa fa-fw fa-chevron-right pointer" ng-click="move(1)"></i>
        </th>
    </tr>
    <tr class="b-b">
        <th ng-repeat="label in ::labels track by $index" class="text-center p-y-sm p-x-xs _300" style="width: 36px;">
            {{::label.abbr}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="uib-weeks" ng-repeat="row in rows track by $index">
        <td ng-repeat="dt in row"
            class="uib-day text-center pointer p-a-xs"
            ng-click="dt.disabled ? null : select(dt.date)"
            ng-class="{'primary': dt.selected}">


            <span ng-class="::{'text-muted': dt.secondary, 'text-danger': dt.current && !dt.selected}">{{::dt.label}}</span>
        </td>
    </tr>
    </tbody>
</table>
