<div class="app-sub-header bg dark b-b p-a-sm">
    <div ng-include="'${require(`./inboxes-list.html`)}'"></div>
</div>
<div class="app-body-inner">
    <div class="row-col row-col-xs">
        <!-- column -->
        <div class="col-sm w-xxl w-auto-xs b-r" ng-class="{'hidden-sm-down': !!ctrl.selectedConversation}">
            <div class="row-col" ng-include="'${require(`./inbox.html`)}'"></div>
        </div>

        <div class="col-sm" ng-class="{'hidden-sm-down': !ctrl.selectedConversation}">
            <div class="row-col" ng-show="!!ctrl.selectedConversation">
                <div class="p-a-sm b-b text-center">
                    <a class="btn btn-sm _300" ui-sref="customer-profile({id: ctrl.selectedConversation.customer.id})">
                        Conversation with <span class="text-primary text-u-l">{{ctrl.selectedConversation.customer.name}}</span>
                    </a>
                </div>

                <div class="row-row">
                    <div class="row-body p-x-md"
                         ng-include="'${require(`./messages.html`)}'"
                         refer-element="ctrl.messagesContainer">
                    </div>
                </div>

                <div class="b-t white" ng-include="'${require(`./reply.html`)}'">
                </div>
            </div>
        </div>

        <div class="col-sm w-xl w-auto-xs b-l hidden-md-down">
            <div class="row-col" ng-include="'${require(`./profile.html`)}'"></div>
        </div>
    </div>
</div>
