<div class="p-a-sm b-b">
    <div class="dropdown inline">
        <button class="btn lter btn-sm dropdown-toggle" data-toggle="dropdown">
            Open <span class="text-muted">(20)</span>
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item">
                Open <span class="text-muted">(20)</span>
                <i class="fa fa-check text-primary m-l"></i>
            </a>
            <a class="dropdown-item">
                Closed <span class="text-muted">(2241)</span>
            </a>
        </div>
    </div>

    <div class="dropdown inline">
        <button class="btn lter btn-sm dropdown-toggle" data-toggle="dropdown">
            Newest First
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item">Newest First <i class="fa fa-check text-primary m-l"></i></a>
            <a class="dropdown-item">Oldest First</a>
        </div>
    </div>

</div>

<div class="row-row white bg">
    <div class="row-body scrollable">
        <div class="row-inner">
            <div class="list">
                <div class="list-item pointer"
                     ng-repeat="conversation in ctrl.conversations"
                     ng-class="{'dker': ctrl.selectedConversation == conversation }"
                     ng-click="ctrl.selectConversation(conversation)">

                    <div class="list-left">
                        <span class="w-40 avatar">
                            <img ng-src="{{conversation.customer.avatar}}" class="img-circle">
                        </span>
                    </div>

                    <div class="list-body" ng-class="{'p-t-sm': !conversation.customer.company}">
                        {{conversation.customer.name}}

                        <small class="pull-right text-muted" am-time-ago="conversation.lastMessage.createdAt">
                        </small>

                        <small class="block text-muted" ng-if="!!conversation.customer.company">
                            <i class="fa fa-building"></i> {{conversation.customer.company.name}}
                        </small>
                    </div>

                    <div class="m-t-md text-muted">
                        {{conversation.lastMessage.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
