@import "~angular/angular-csp.css"; // ng-cloak
@import "~textangular/dist/textAngular.css";

@import "../flatkit/assets/bootstrap/dist/css/bootstrap.css";
@import "../flatkit/assets/angular-motion/dist/angular-motion.min.css";
@import "../flatkit/assets/bootstrap-additions/dist/bootstrap-additions.min.css";
@import "../flatkit/assets/styles/font.css";
@import "../flatkit/assets/styles/app.css";

.app-sub-header {
  height: 3rem;
}

.app-body-inner {
  margin-top: 3.5rem !important;
}

.app-sub-header ~ .app-body-inner {
  margin-top: 6.5rem !important;
}

table.table-fixed {
  table-layout: fixed;

  td, th {
    overflow: hidden;
    text-overflow: ellipsis;

    &.check-field {
      width: 50px;
    }
  }

}

table.table-nowrap {
  td, th {
    white-space: nowrap;
  }
}

table.table-unbordered {
  &, tr, td, th {
    border: none;
  }
}

.box-shadow {
  box-shadow: inset 0 -10rem 0px rgba(158, 158, 158, 0.2);
}

.prevent-breaks {
  white-space: nowrap;
}

.blur-1{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.streamline .sl-icon:before {
  z-index: -1;
  width: 26px;
  height: 26px;
  border-width: 13px;
  margin-left: -3px;
  top: -3px;
}

.clearfix {
  clear: both;
}

.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.b-transparent {
  border-color: transparent;
}

.bg-transparent {
  background: transparent;
}

.tooltip-lg {
  .tooltip-inner {
    max-width: 300px;
  }
}

@import "./widget/widget.scss";
