<form>
    <div class="text-muted m-t-sm m-b-xs"><strong>Relative</strong></div>
    <div class="radio m-a-0" ng-repeat="comparison in ctrl.comparisons.date | filter: {group: 'relative'} track by comparison.alias">
        <label class="ui-check">
            <input type="radio" name="comparison" ng-model="predicate.comparison" ng-value="::comparison">
            <i class="dark-white"></i>
            {{::comparison.name}}
        </label>

        <div class="block m-y-xs m-l-md" ng-if="comparison.showInput && predicate.comparison == comparison">
            <div class="input-group">
                <input class="form-control form-control-sm" type="number" ng-model="predicate.value">
                <div class="input-group-addon no-bg no-border"><small>days ago</small></div>
            </div>
        </div>
    </div>

    <div class="text-muted m-t-sm m-b-xs"><strong>Absoulte</strong></div>
    <div class="radio m-a-0" ng-repeat="comparison in ctrl.comparisons.date | filter: {group: 'absolute'} track by comparison.alias">
        <label class="ui-check">
            <input type="radio" name="comparison" ng-model="predicate.comparison" ng-value="::comparison">
            <i class="dark-white"></i>
            {{::comparison.name}}
        </label>

        <div class="block m-y-xs m-l-md" ng-if="comparison.showInput && predicate.comparison == comparison">
            <em>date picker will be here</em>
        </div>
    </div>
</form>
