<a class="btn btn-sm btn-fw dark m-r-xs hidden-xs-down"
   ng-repeat="segment in ctrl.segments"
   ui-sref="{{ctrl.listState}}({segmentId: segment.id})"
   ui-sref-opts="{inherit: false, reload: true}"
   ng-class="{
        'active': segment == ctrl.selectedSegment,
        'hidden-sm-down': $index > 0,
        'hidden-lg-down': $index > 2,
        'hidden-xl-down': $index > 4 && ctrl.segments.length > 6
        }">

    <i class="fa fa-fw fa-{{::segment.icon}}"></i>
    {{::segment.name}}
    <small class="text-muted">({{::segment.count}})</small>
</a>

<div class="dropdown inline" ng-class="{'hidden-xl-up': ctrl.segments.length <= 6}">
    <button class="btn btn-sm btn-fw dark m-r-xs text-left dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-pie-chart"></i>
        <!--{{ctrl.selectedSegment ? ctrl.selectedSegment.name : 'Segments...'}}-->
        More <span class="hidden-sm-up">Segments</span>...
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item"
           ng-repeat="segment in ctrl.segments"
           ui-sref="{{ctrl.listState}}({segmentId: segment.id})"
           ui-sref-opts="{inherit: false, reload: true}"
           ng-class="{'hidden-sm-up': $index <= 0, 'hidden-md-up': $index <= 2, 'hidden-xl-up': $index <= 4}">

            <i class="fa fa-fw fa-{{::segment.icon}}"></i>
            {{::segment.name}}
            <small class="text-muted">({{::segment.count}})</small>

            <i class="fa fa-check text-primary m-l" ng-if="segment == ctrl.selectedSegment"></i>
        </a>
    </div>
</div>
